@import-normalize;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}
.row {
  display: flex;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: rgb(43, 107, 226);
  position: sticky;
  top: 0;
  left: 0;
}
p {
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
}
a {
  text-decoration: none;
  color: inherit;
}
